# application characteristics

export DEPLOYMENT_SCHEMA='Two-tier application (native)'
export DEPLOYMENT_TYPE='VPC'
export VPC_TIER1_NAME=$VPC_NAME'Web'
export VPC_TIER2_NAME=$VPC_NAME'App'
export WEBACLLIST=WebACLList
export APPACLLIST=AppACLList
export VPC_OFFERING='Default\ VPC\ offering'
export VPC_TIER_OFFERING=DefaultIsolatedNetworkOfferingForVpcNetworks
export SERVER_TEMPLATE=macchinina
export SERVER_KEY_PAIR=kris_key
export NBR_WEB_SERVERS=1
export NBR_APP_SERVERS=2
